html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

li {
    list-style: none;
}

img {
    display: block;
}

.wrapper {
    position: relative;
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
}

.main-container {
    position: relative;
    max-width: 1030px;
}

.error {
    color: #C83C29;
    font-size: 20px;
}

.error span {
    color: #C83C29;
    font-size: 20px;
    font-weight: 700;
}

:root {
    --black: #121212;
    --gray: #3F3F3F;
    --mid-gray: #6D6D6D;
    --light-gray: #9A9A9A;
}